h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  margin-bottom: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
}

.nav {
  background-color: #304050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nav__link {
  -ms-flex-preferred-size: calc((100% / 12 * 2) - (0px * 2));
      flex-basis: calc((100% / 12 * 2) - (0px * 2));
  max-width: calc((100% / 12 * 2) - (0px * 2));
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px;
  text-decoration: none;
  color: whitesmoke;
  border-right: 1px solid #1d2730;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #304050;
  background-color: whitesmoke;
}

@media screen and (max-width: 767px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__link {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (0px * 2));
        flex-basis: calc((100% / 12 * 12) - (0px * 2));
    max-width: calc((100% / 12 * 12) - (0px * 2));
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    border: 0;
  }
}

.container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: #ccc;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.box {
  -ms-flex-preferred-size: calc((100% / 12 * 6) - (10px * 2));
      flex-basis: calc((100% / 12 * 6) - (10px * 2));
  max-width: calc((100% / 12 * 6) - (10px * 2));
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #cc7a00;
  background-color: #f90;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.box__photo {
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .box {
    -ms-flex-preferred-size: calc((100% / 12 * 12) - (10px * 2));
        flex-basis: calc((100% / 12 * 12) - (10px * 2));
    max-width: calc((100% / 12 * 12) - (10px * 2));
    margin-right: 10px;
    margin-left: 10px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #808080;
}

.form__label {
  position: relative;
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.form__check {
  visibility: hidden;
}

.form__check:checked + .form__check-fake::before {
  display: block;
}

.form__check:checked + .form__check-fake::after {
  display: block;
}

.form__check-fake {
  position: relative;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: #f90;
  border: 1px solid #995c00;
  border-radius: 5px;
}

.form__check-fake::before, .form__check-fake::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 5px;
  height: 25px;
  background-color: #303030;
  border-radius: 10px;
}

.form__check-fake::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.form__check-fake::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.form__beauty {
  visibility: hidden;
}

.form__beauty:checked + .form__beauty-fake::before {
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.form__beauty:checked + .form__beauty-fake::after {
  background-color: #ffc266;
}

.form__beauty-fake {
  position: relative;
  width: 60px;
  height: 30px;
  margin-top: 10px;
  background-color: #f90;
  border: 1px solid #cc7a00;
  border-radius: 20px;
}

.form__beauty-fake::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: #404040;
  border-radius: 25px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.form__beauty-fake::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 25px;
  background-color: #cc7a00;
  border-radius: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-wrapper {
  margin-bottom: 60px;
  padding: 0 20px;
}

.card {
  background-color: #959595;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.card__img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.card__content {
  text-align: center;
}

.accordion {
  max-width: 50%;
  margin-bottom: 30px;
}

.accordion__item {
  background-color: #fff;
  border: 1px solid #404040;
}

.accordion__item:not(:last-child) {
  border-bottom: 0;
}

.accordion__head {
  position: relative;
  padding: 20px 10px;
  background-color: #aaa;
  border-bottom: 1px solid #404040;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.accordion__head::after {
  content: '';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  top: 50%;
  right: 10px;
  background: url("../img/minus.png") no-repeat;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.accordion__head:hover {
  cursor: pointer;
  background-color: #9d9d9d;
}

.accordion__head_closed::after {
  background: url("../img/plus.png") no-repeat;
}

.accordion__content {
  padding: 20px 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.accordion__content_closed {
  max-height: 0;
  padding: 0 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px 30px;
}

.row__title {
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: seagreen;
}

.row__main {
  position: relative;
  min-height: 700px;
  -webkit-box-flex: 4;
      -ms-flex: 4 1 30%;
          flex: 4 1 30%;
  margin: 0 20px;
  padding: 10px;
  background-color: palegreen;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.row__main::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 3px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #303030;
  margin-left: -12px;
  left: 0;
}

.row__side {
  min-height: 700px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin: 0 20px;
  padding: 10px;
  background-color: darkseagreen;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.row__side_size_large {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.flip {
  position: relative;
  width: 500px;
  height: 700px;
  margin-bottom: 30px;
}

.flip:hover .flip__front {
  -webkit-transform: perspective(1000px) rotateY(-180deg);
          transform: perspective(1000px) rotateY(-180deg);
}

.flip:hover .flip__back {
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
}

.flip__front {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f99;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(1000px) rotateY(0deg);
          transform: perspective(1000px) rotateY(0deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  overflow: hidden;
}

.flip__img {
  text-align: center;
}

.flip__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #ff0;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: perspective(1000px) rotateY(180deg);
          transform: perspective(1000px) rotateY(180deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  overflow: hidden;
}

.flip__social {
  border-radius: 50%;
}

.filter {
  margin: 0 -10px 30px;
}

.filter__img {
  margin: 10px;
  display: inline-block;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: opacity 0.5s, -webkit-filter 0.5s;
  transition: opacity 0.5s, -webkit-filter 0.5s;
  transition: filter 0.5s, opacity 0.5s;
  transition: filter 0.5s, opacity 0.5s, -webkit-filter 0.5s;
}

.filter__img:hover {
  -webkit-filter: blur(100px);
          filter: blur(100px);
  opacity: 0;
}

.big {
  min-height: 500px;
  background-color: #f90;
  background-image: url("https://via.placeholder.com/150/aadd00"), url("https://via.placeholder.com/150/bbcc10"), url("https://via.placeholder.com/150/ccee20"), url("https://via.placeholder.com/150/ddff30");
  background-repeat: no-repeat;
  background-position: top 20px left 20px, top 60px left 60px, top 100px left 100px, top 140px left 140px;
}

.glass {
  width: 600px;
  height: 400px;
  padding: 40px 0;
  background-image: url(http://bit.ly/2gPLxZ4);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glass__window {
  position: relative;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.glass__window:before {
  content: '';
  position: absolute;
  left: -25px;
  right: -25px;
  top: -25px;
  bottom: -25px;
  background-image: url(http://bit.ly/2gPLxZ4);
  background-position: 50%;
  -webkit-box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 0.7;
}

.soap {
  position: relative;
  min-height: 50vh;
  overflow: hidden;
}

.soap__background {
  position: absolute;
  z-index: 1;
  top: -5%;
  bottom: -5%;
  left: -5%;
  right: -5%;
  background-image: url("../img/mountains.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.soap__background_additional {
  z-index: 0;
  background-image: url("../img/clouds.webp");
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 20px 20px;
  background-color: #f45;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */