@import 'mixins';

html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1;
}
.header {

}

.nav {
    background-color: #304050;
    display: flex;
    text-align: center;

    &__link {
        @include flex-columns(12, 2, 0px);
        padding: 10px;
        text-decoration: none;
        color: whitesmoke;
        border-right: 1px solid darken($color: #304050, $amount: 10%);
        transition: all 0.3s;
        &:hover {
            color: #304050;
            background-color: whitesmoke;
        }
    }
}

@include media(767) {
    .nav {
        flex-direction: column;
        &__link {
            @include flex-columns(12, 12, 0px);
            padding: 20px;
            border: 0;
        }


    }
}
.container {
    flex-grow: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #ccc;
    box-sizing: border-box;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.box {
    @include flex-columns(12, 6, 10px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid darken($color: #ff9900, $amount: 10%);
    background-color: #f90;
    box-sizing: border-box;
    transition: all 0.5s;
    &__photo {
        float: left;
        margin-right: 10px;
    }
}

@include media(767) {
    .box {
        @include flex-columns(12, 12, 10px);
    }
}

.form {
    

    &__label {
        position: relative;

    }
    &__check:checked + &__check-fake::before {
       display: block; 
    }
    &__check-fake {
        position: absolute;
        top: 0;
        right: -10px;
        width: 30px;
        height: 30px;
        background-color: #f90;
        border: 1px solid darken($color: #ff9900, $amount: 20%);
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            width: 20px;
            height: 20px;
            background-color: #303030;
            border-radius: 10px;
            transform: translate(-50%, -50%);
        }

    }
}



.footer {
    flex-grow: 0;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #f45;
    box-sizing: border-box;
}